html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: IRANSans;
  src: url("./fonts/IRANSans.ttf");
}
html {
  box-sizing: border-box !important;
  font-size: 62.5% !important;
}

body {
  line-height: 1.8rem !important;
  font-size: 1.6rem !important;
  font-family: IRANSans !important;
  word-spacing: -2px !important;
  background-color: #f7f7f7 !important;
  direction: rtl !important;
}

*,
*::after,
*::before {
  outline: none !important;
  box-sizing: inherit !important;
}

a {
  text-decoration: none !important;
  color: #1b1b1b !important;
  transition: all 0.3s ease !important;
}

a:hover {
  color: #13af3d !important;
}

i {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

.bg-main-color {
  background-color: #13af3d !important;
}

.text-main-color {
  color: #13af3d !important;
}

.bg-dark-color {
  background-color: #1b1b1b !important;
}

.text-dark-color {
  color: #1b1b1b !important;
}

.bg-secondary-500 {
  background-color: #ebeef5 !important;
}

.text-secondary-500 {
  color: #ebeef5 !important;
}

.fs-7 {
  font-size: 0.85rem !important;
}

.fw-300 {
  font-weight: 300;
}

.fw-bold {
  font-weight: bold;
}

.circle {
  -webkit-clip-path: circle();
          clip-path: circle();
}

.courses {
  margin: 4rem 0;
}

.courses-top-bar {
  box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.0784313725);
}
@media screen and (max-width: 576px) {
  .courses-top-bar {
    flex-direction: column-reverse !important;
    gap: 1.3rem;
  }
}
@media screen and (max-width: 576px) {
  .courses-top-bar .courses-top-bar__right {
    width: 90% !important;
  }
}
.courses-top-bar .courses-top-bar__selection {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .courses-top-bar .courses-top-bar__selection {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 576px) {
  .courses-top-bar .courses-top-bar__selection {
    width: 100% !important;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .courses-top-bar .courses-top-bar__selection {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 576px) {
  .courses-top-bar .courses-top-bar__selection .courses-top-bar__selection-title {
    justify-content: center;
  }
}
.courses-top-bar .courses-top-bar__selection-title {
  border: 1px solid #e5e5e5;
  transition: all 0.3s ease;
}
.courses-top-bar .courses-top-bar__selection-title:hover {
  color: #fff !important;
  background-color: #1e83f0;
}
.courses-top-bar .courses-top-bar__selection-list {
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 0.3rem 0.3rem;
  border-bottom: 0.3rem solid #13af3d;
  z-index: 99;
  transition: all 0.3s ease;
}
.courses-top-bar .courses-top-bar__selection-list .courses-top-bar__selection-item {
  color: #5f5f5f;
  font-size: 1.4rem;
  padding: 0.9rem 1.4rem;
  transition: all 0.3s ease;
}
.courses-top-bar .courses-top-bar__selection-list .courses-top-bar__selection-item:hover {
  background-color: #ddd;
}
@media screen and (max-width: 767px) {
  .courses-top-bar .courses-top-bar__selection-list .courses-top-bar__selection-item {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 576px) {
  .courses-top-bar .courses-top-bar__selection-list .courses-top-bar__selection-item {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .courses-top-bar .courses-top-bar__selection-list .courses-top-bar__selection-item {
    font-size: 1.2rem;
  }
}
.courses-top-bar .courses-top-bar__selection-item--active {
  background-color: #ddd !important;
}
.courses-top-bar .courses-top-bar__selection:hover .courses-top-bar__selection-list {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 576px) {
  .courses-top-bar .courses-top-bar__left {
    width: 100%;
    justify-content: center;
  }
}
.courses-top-bar .courses-top-bar__form {
  width: 25rem;
}
@media screen and (max-width: 767px) {
  .courses-top-bar .courses-top-bar__form {
    width: 17rem;
  }
}
@media screen and (max-width: 576px) {
  .courses-top-bar .courses-top-bar__form {
    width: 90% !important;
  }
}
.courses-top-bar .courses-top-bar__form .courses-top-bar__input {
  font-size: 1.5rem;
  border: 1px solid #dcdcdc;
  padding: 0.8rem 1.5rem 0.8rem 3.5rem;
}
@media screen and (max-width: 767px) {
  .courses-top-bar .courses-top-bar__form .courses-top-bar__input {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 576px) {
  .courses-top-bar .courses-top-bar__form .courses-top-bar__input {
    width: 100% !important;
  }
}
.courses-top-bar .courses-top-bar__search-icon {
  left: 1rem;
  top: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
}/*# sourceMappingURL=Category.css.map */