.about-us__box {
    box-shadow: 0 0 10px 0 #0000001a;


    .about-us__box-right svg {
        color: #666;
        font-size: 5.5rem;
    }

    .about-us__box-left {
        flex-direction: column;

        .about-us__box-text {
            font-size: 1.4rem;
        }
    }
}