html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: IRANSans;
  src: url("./fonts/IRANSans.ttf");
}
html {
  box-sizing: border-box !important;
  font-size: 62.5% !important;
}

body {
  line-height: 1.8rem !important;
  font-size: 1.6rem !important;
  font-family: IRANSans !important;
  word-spacing: -2px !important;
  background-color: #f7f7f7 !important;
  direction: rtl !important;
}

*,
*::after,
*::before {
  outline: none !important;
  box-sizing: inherit !important;
}

a {
  text-decoration: none !important;
  color: #1b1b1b !important;
  transition: all 0.3s ease !important;
}

a:hover {
  color: #13af3d !important;
}

i {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

.bg-main-color {
  background-color: #13af3d !important;
}

.text-main-color {
  color: #13af3d !important;
}

.bg-dark-color {
  background-color: #1b1b1b !important;
}

.text-dark-color {
  color: #1b1b1b !important;
}

.bg-secondary-500 {
  background-color: #ebeef5 !important;
}

.text-secondary-500 {
  color: #ebeef5 !important;
}

.fs-7 {
  font-size: 0.85rem !important;
}

.fw-300 {
  font-weight: 300;
}

.fw-bold {
  font-weight: bold;
}

.circle {
  -webkit-clip-path: circle();
          clip-path: circle();
}

.main-header__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 0.7rem;
}
.main-header__item .main-header__link {
  color: #7f8187;
  font-size: 1.5rem;
}

.main-header__logo {
  width: 10rem;
  height: 4rem;
}

/* Start DropDown Styles */
.main-header__dropdown {
  top: 3rem;
  left: 0;
  right: 0;
  transition: all 200ms ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1215686275);
  border-radius: 0.5rem;
  width: 24rem;
  z-index: 100;
  border-bottom: 3px solid #13af3d;
  opacity: 0;
  visibility: hidden;
}
.main-header__item:hover .main-header__dropdown {
  opacity: 1;
  visibility: visible;
  top: 5.5rem;
}

.main-header__dropdown-link {
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

/* Finish DropDown Styles */
.main-header__search-btn {
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  border: none !important;
}
@media screen and (max-width: 576px) {
  .main-header__search-btn {
    width: 4rem;
    height: 3.5rem;
  }
}
.main-header__search-btn .main-header__search-icon {
  font-size: 2.2rem;
}
@media screen and (max-width: 576px) {
  .main-header__search-btn .main-header__search-icon {
    font-size: 1.9rem;
  }
}

.main-header__cart-btn {
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  background-color: #f0f2f7;
}
@media screen and (max-width: 576px) {
  .main-header__cart-btn {
    width: 4rem;
    height: 3.5rem;
  }
}

.main-header__cart-icon {
  font-size: 2.2rem;
  transition: all 0.3s ease;
}
@media screen and (max-width: 576px) {
  .main-header__cart-icon {
    font-size: 1.9rem;
  }
}

.main-header__profile {
  border: 2px solid #13af3d;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  height: 4.3rem;
  font-size: 1.5rem;
}
.main-header__profile:hover {
  background-color: #13af3d;
  color: #fff !important;
}
@media screen and (max-width: 576px) {
  .main-header__profile {
    width: -moz-max-content !important;
    width: max-content !important;
    height: 3.5rem;
  }
}

.main-header__profile-text {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 576px) {
  .main-header__profile-text {
    max-width: -moz-max-content !important;
    max-width: max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    overflow: none !important;
    text-overflow: none !important;
    white-space: none !important;
  }
}

.btn-toggle-sidebar {
  background: none !important;
  border: none !important;
  outline: none !important;
  font-size: 3.5rem !important;
}
.btn-toggle-sidebar:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.offcanvas {
  width: 27rem !important;
}
@media screen and (max-width: 576px) {
  .offcanvas {
    width: 22rem !important;
  }
}
.offcanvas .btn-close:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}
.offcanvas .offcanvas-body-item {
  transition: 0.2s;
  background-color: #f0f2f7;
}
.offcanvas .offcanvas-body-item:hover a {
  background: #13af3d !important;
  color: #fff !important;
}

.landing__searchbar {
  width: 100%;
}

.landing__searchbar-input {
  padding: 2.5rem 2rem 2.5rem 8rem !important;
  border: none;
}
@media screen and (max-width: 767px) {
  .landing__searchbar-input {
    font-size: 1.4rem;
    padding: 2rem 2rem 2rem 7rem !important;
  }
}
@media screen and (max-width: 576px) {
  .landing__searchbar-input {
    padding: 2rem 1.2rem 2rem 6rem !important;
    font-size: 1.2rem;
  }
}

.landing__searchbar-btn {
  border: none;
  left: 1rem;
  top: 0.8rem;
  border-radius: 1rem;
  padding: 1.2rem !important;
}
@media screen and (max-width: 767px) {
  .landing__searchbar-btn {
    padding: 0.9rem !important;
    left: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .landing__searchbar-btn {
    padding: 1rem !important;
  }
}
.landing__searchbar-btn .landing__searchbar-icon {
  font-size: 2.8rem;
}
@media screen and (max-width: 767px) {
  .landing__searchbar-btn .landing__searchbar-icon {
    font-size: 2.6rem !important;
  }
}
@media screen and (max-width: 576px) {
  .landing__searchbar-btn .landing__searchbar-icon {
    font-size: 2.3rem !important;
  }
}/*# sourceMappingURL=Navbar.css.map */